.home-grid {
  //display: grid;
  list-style: none;
  //grid-gap: 2rem;
  //grid-template-columns: repeat(auto-fill, minmax(17rem,1fr));
  //grid-auto-rows: 5rem;
}
.home-grid li {
  position: relative;
}
.home-grid figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: rgba(255,255,255,0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 1;
  text-align: center;
  background: rgba(0,0,0,0);
  transition: 0.1s;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
}
.home-grid figcaption:hover {
  color: var(--color-oettli);
  background: rgba(255,255,255,0.95);
  transition: 0.1s;
}

.home-grid .grid-item {
  //background: blue;
}
.grid-sizer, .grid-item {
  width: 100%;
  margin-bottom: 3.8%;
}
.gutter-sizer {
  width: 4%;
}
@media screen and (min-width: 40rem) {
  .grid-sizer, .grid-item {
    //background: green;
    width: 48%;
  }
  .grid-item--width2 {
    width: 100%;
  }
}

@media screen and (min-width: 80rem) {
  .grid-sizer, .grid-item {
    width: 30.666%;
  }
  .grid-item--width2 {
    width: 65.333%;
  }
}

@media screen and (min-width: 120rem) {
  .grid-sizer, .grid-item {
    width: 16.8%;
  }
  .grid-item--width2 {
    width: 37.6%;
  }
}
